@import "../../../scss/libs.scss";

.selectbox_wrap {
  position: relative;
  display: inline-block;
  height: fit-content;
}

@mixin linear {
  &.linear {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
  }
}

.selectbox {
  color: $INPUT_DEFAULT_COLOR;
  background-color: $INPUT_DEFAULT_BG_COLOR;
  border: $INPUT_DEFAULT_BORDER;
  min-height: 42px;
  padding: {
    top: 0.3em;
    bottom: 0.3em;
    left: 1em;
    right: 0.7em;
  }
  width: 100%;
  font-weight: $MEDIUM_FONT_WEIGHT;
  font-size: $SMALL_FONT_SIZE;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  z-index: 2;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
  > svg {
    color: $INPUT_ICON_DEFAULT_COLOR;
  }
  &.filled {
    color: $INPUT_FILLED_COLOR;
    background-color: $INPUT_FILLED_BG_COLOR;
    border: $INPUT_FILLED_BORDER;
    > svg {
      color: $INPUT_ICON_FILLED_COLOR;
    }
  }
  &.box {
    border-radius: $INPUT_BORDER_RADIUS;
  }
  &.invalid {
    border: $INPUT_ALERT_BORDER;
  }
  &:hover:not(:disabled),
  &.opened {
    border: $INPUT_FOCUS_BORDER;
    color: $INPUT_FOCUS_COLOR;
    background-color: $INPUT_FOCUS_BG_COLOR;
    > svg {
      color: $INPUT_ICON_FOCUS_COLOR;
    }
    @include linear;
  }

  &:disabled {
    cursor: not-allowed;
    border: $INPUT_DISABLED_BORDER;
    background-color: $INPUT_DISABLED_BG_COLOR;
    color: $INPUT_DISABLED_COLOR;
    > svg {
      color: $INPUT_ICON_DISABLED_COLOR;
    }
    &.system {
      border: $INPUT_SYSTEM_BORDER;
      background-color: $INPUT_SYSTEM_BG_COLOR;
      color: $INPUT_SYSTEM_COLOR;
    }
    &.readonly {
      border: transparent;
      background-color: transparent;
      color: $INPUT_READONLY_COLOR;
    }
    @include linear;
  }
  > .selectbox_value {
    width: 100%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  @include linear;
}

.options {
  z-index: 3;
  position: absolute;
  background-color: $BLUISH_GRAY50;
  border-top: none;
  border-radius: 6px;
  border: $BORDER_GRAY300;
  max-height: 300px;
  min-width: 100%;
  overflow-y: auto;
  color: $GRAY600;
  box-shadow: $BOX_SHADOW_INPUT_OPTIONS;
  @include fade-in;
  &.up {
    bottom: 3em;
    margin-bottom: 5px;
  }
  &.down {
    margin-top: 5px;
  }
  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
  &.hidden {
    display: none;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.item_button {
  height: 2.5em;
  display: flex;
  align-items: center;
  padding-right: 2em;
  transition: background-color 0.2s, color 0.2s;
  width: 100%;
  > .check {
    transition: color 0.2s;
    margin: {
      top: 0.3em;
      right: 0.2em;
      left: 1em;
    }
    height: 1.2em;
    color: #dfe3ec;
  }
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover {
    > .check {
      color: $BLUISH_GRAY600;
    }
    color: $WEWIN_BLUE600;
    background-color: $WEWIN_BLUE100;
  }
}

.empty_space {
  position: sticky;
  width: 100%;
  height: 10px;
  &.top {
    background: linear-gradient(to bottom, $BLUISH_GRAY50, transparent);
    top: 0;
  }
  &.bottom {
    background: linear-gradient(to top, $BLUISH_GRAY50, transparent);
    bottom: 0;
  }
}
