@import "../../../scss/libs.scss";

.selectbox_wrap {
  position: relative;
  display: inline-block;
  text-align: center;
  height: fit-content;
  width: fit-content;
}

.selectbox {
  color: $GRAY600;
  background-color: white;
  border: $BORDER_GRAY300;
  border-radius: 4px;
  min-height: 42px;
  padding: {
    top: 0.3em;
    bottom: 0.3em;
    left: 1em;
    right: 0.7em;
  }
  font-weight: 400;
  display: flex;
  align-items: center;
  transition: box-shadow 0.3s;
  box-sizing: border-box;
  z-index: 2;
  &.invalid {
    border: 1px solid $PEACH500;
  }
  &:hover:not(:disabled),
  &.opened {
    box-shadow: $BOX_SHADOW013;
  }
  &.opened {
    border: $BORDER_FOCUS;
  }
  &:disabled {
    cursor: not-allowed;
    border: 1px solid $GRAY100;
    background-color: darken(white, 2%);
    color: $GRAY300;
    &:hover {
      box-shadow: none;
    }
  }
}
.selectbox_value {
  width: 100%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &.placeholder {
    color: $PLACEHOLDER;
  }
}

.options {
  z-index: 3;
  position: absolute;
  background-color: $BLUISH_GRAY50;
  border-top: none;
  border-radius: 6px;
  border: $BORDER_GRAY300;
  max-height: 300px;
  min-width: 100%;
  overflow-y: auto;
  color: $GRAY600;
  box-shadow: $BOX_SHADOW_INPUT_OPTIONS;
  @include fade-in;
  &.up {
    bottom: 3em;
    margin-bottom: 5px;
  }
  &.down {
    margin-top: 5px;
  }
  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
  &.hidden {
    display: none;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.item_button {
  height: 2.5em;
  display: flex;
  align-items: center;
  padding-right: 1em;
  transition: background-color 0.2s, color 0.2s;
  width: 100%;
  > .check {
    transition: color 0.2s;
    margin: {
      top: 0.3em;
      right: 0.2em;
      left: 1em;
    }
    height: 1.2em;
    color: #dfe3ec;
  }
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover {
    > .check {
      color: $BLUISH_GRAY600;
    }
    color: $WEWIN_BLUE600;
    background-color: $WEWIN_BLUE100;
  }
}

.empty_space {
  position: sticky;
  width: 100%;
  height: 10px;
  &.top {
    background: linear-gradient(to bottom, $BLUISH_GRAY50, transparent);
    top: 0;
  }
  &.bottom {
    background: linear-gradient(to top, $BLUISH_GRAY50, transparent);
    bottom: 0;
  }
}

.fit_container {
  width: 100%;
}
