@import '../../../scss/libs.scss';

.input_container {
  border: $INPUT_DEFAULT_BORDER;
  background-color: $INPUT_DEFAULT_BG_COLOR;
  border-radius: $INPUT_BORDER_RADIUS;
  height: 36px;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-weight: $MEDIUM_FONT_WEIGHT;
  transition: color 0.3s, background-color 0.3s, border 0.3s;

  &.filled {
    border: $INPUT_FILLED_BORDER;
    > input {
      color: $INPUT_FILLED_COLOR;
    }
    background-color: $INPUT_FILLED_BG_COLOR;
    > .unit_wrap {
      color: $INPUT_ICON_FILLED_COLOR;
      background-color: $INPUT_ICON_FILLED_BG_COLOR;
    }
  }

  &:focus-within,
  &:hover {
    > input {
      color: $INPUT_FOCUS_COLOR;
    }
    background-color: $INPUT_FOCUS_BG_COLOR;
    border: $INPUT_FOCUS_BORDER;
    > .unit_wrap {
      color: $INPUT_ICON_FOCUS_COLOR;
      background-color: $INPUT_ICON_FOCUS_BG_COLOR;
    }
  }

  &.disabled {
    cursor: not-allowed;
    border: $INPUT_DISABLED_BORDER;
    background-color: $INPUT_DISABLED_BG_COLOR;
    > input {
      color: $INPUT_DISABLED_COLOR;
    }
    > .unit_wrap {
      color: $INPUT_ICON_DISABLED_COLOR;
      background-color: $INPUT_ICON_DISABLED_BG_COLOR;
    }

    &.system {
      border-bottom: $INPUT_SYSTEM_BORDER;
      background-color: $INPUT_SYSTEM_BG_COLOR;
      color: $INPUT_SYSTEM_COLOR;
      &.linear {
        background-color: transparent;
      }
      > .unit_wrap {
        color: $INPUT_ICON_SYSTEM_COLOR;
        background-color: $INPUT_ICON_SYSTEM_BG_COLOR;
      }
    }
    &.readonly {
      border: 1px solid transparent;
      background-color: transparent;
      > input {
        color: $INPUT_READONLY_COLOR;
      }
      > svg {
        display: none;
      }
      > .unit_wrap {
        color: $INPUT_ICON_READONLY_COLOR;
        background-color: transparent;
      }
    }
  }

  &.invalid {
    border: $INPUT_ALERT_BORDER;
  }

  > input {
    font-size: $SMALL_FONT_SIZE;
    font-weight: $MEDIUM_FONT_WEIGHT;
    margin: 0 0.8em;
    border: none;
    outline: none;
    min-width: 0;
    background-color: transparent;
    flex: 1;
    &:disabled {
      cursor: not-allowed;
    }
    &::placeholder {
      color: $INPUT_DEFAULT_COLOR;
    }
  }

  &.linear {
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    background-color: transparent;

    > .unit_wrap {
      background-color: transparent;
    }
  }
  &.box {
    border-radius: $INPUT_BORDER_RADIUS;
  }
}

.unit_wrap {
  font-weight: 700;
  background-color: $INPUT_ICON_DEFAULT_BG_COLOR;
  padding: 0 0.5em;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  min-width: 36px;
  height: 100%;
  color: $INPUT_ICON_DEFAULT_COLOR;
  transition: all 0.3s;
  > svg {
    width: 20px;
    height: 20px;
  }
}
