@import "../../../scss/libs.scss";

.date_selectbox_container {
  position: relative;
}

@mixin theme($text-color, $bg-color, $border, $icon-color, $icon-bg-color) {
  &.date_range_selectbox,
  &.date_selectbox {
    &.box {
      border: $border;
    }
    &.linear {
      border-bottom: $border;
    }
    > .icon_wrap {
      color: $icon-color;
    }
  }

  &.date_selectbox {
    > .date_input_container > .date_input {
      color: $text-color;
      &::placeholder {
        color: $text-color;
      }
    }
    &.box {
      > .icon_wrap {
        background-color: $bg-color;
      }
      > .date_input_container > .date_input {
        background-color: $bg-color;
      }
    }
  }

  &.date_range_selectbox {
    &.box > .icon_wrap {
      background-color: $icon-bg-color;
    }
  }
}
//TODO: date_range_selectbox 조건부 스타일링 추가 필요
.date_range_selectbox,
.date_selectbox {
  height: 36px;
  display: flex;
  &.box {
    border-radius: $INPUT_BORDER_RADIUS;
    overflow: hidden;
  }

  > .date_input_container {
    flex: 1;
    height: 100%;
    > .date_input {
      background-color: transparent;
      border: none;
      outline: none;
      height: 100%;
      background-color: $INPUT_DEFAULT_BG_COLOR;
      color: $INPUT_DEFAULT_COLOR;
      &::placeholder {
        color: $INPUT_DEFAULT_COLOR;
      }
      padding: 0 11px;
      font-size: $SMALL_FONT_SIZE;
      font-weight: $MEDIUM_FONT_WEIGHT;
    }
  }

  > .icon_wrap {
    background-color: transparent;
    width: 35px;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
    &::placeholder {
      transition: color 0.3s;
    }
    > svg {
      width: 20px;
      height: 20px;
    }
  }

  @include theme(
    $INPUT_DEFAULT_COLOR,
    $INPUT_DEFAULT_BG_COLOR,
    $INPUT_DEFAULT_BORDER,
    $INPUT_ICON_DEFAULT_COLOR,
    $INPUT_ICON_DEFAULT_BG_COLOR
  );
}

.calendar_modal {
  border-radius: 4px;
  position: absolute;
  background-color: white;
  z-index: 10;
  border: $BORDER_GRAY300;
  box-shadow: $BOX_SHADOW_INPUT_OPTIONS;
  @include fade-in;
  color: $GRAY600;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.up {
    bottom: 3.5em;
  }
  &.down {
    top: 3.5em;
  }
  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
}
