@import '../../../scss/libs.scss';

.radio_label {
  display: flex;
  align-items: center;
  color: $BLUISH_GRAY700;
  &.reverse {
    flex-direction: row-reverse;
  }

  &.disabled {
    cursor: not-allowed;
    color: $INPUT_DISABLED_COLOR;
  }

  > input {
    width: 16px;
    height: 16px;
  }
}

.radiobox_list {
  display: flex;
  min-height: 36px;
  align-items: center;
  border-radius: 4px;

  &.invalid {
    border: 1px solid $PEACH500;
  }

  > li {
    display: flex;
    align-items: center;
  }
}
