@import '../../../scss/libs.scss';

.validation_message {
  font-size: $SMALLX_FONT_SIZE;
  color: $PEACH500;
  visibility: hidden;
  &.visible {
    visibility: visible;
    @include shake-horizontal(0.8s);
  }
}
