@import "../../../scss/libs.scss";

@mixin theme($color, $backgroundColor) {
  color: $color;
  background-color: $backgroundColor;
}

.tag {
  border-radius: 6px;
  min-width: 80px;
  padding: 4px 1em;
  font-weight: 500;
  text-align: center;
  &.button:hover {
    text-decoration: underline;
  }
}

.theme_wewinBlue600 {
  @include theme($WEWIN_BLUE600, $WEWIN_BLUE100);
}

.theme_wewinOrange600 {
  @include theme($WEWIN_ORANGE600, $WEWIN_ORANGE10);
}

.theme_gray200 {
  @include theme($GRAY200, $GRAY800);
}

.theme_gray600 {
  @include theme($GRAY600, white);
  border: 1px solid $GRAY300;
}

.theme_gray700 {
  @include theme($GRAY700, $GRAY200);
}

.theme_wewinGold700 {
  @include theme($WEWIN_GOLD700, $WEWIN_GOLD200);
}

.theme_mint700 {
  @include theme($MINT700, $MINT100);
}

.theme_peach500 {
  @include theme($PEACH500, $PEACH50);
}

.theme_green600 {
  @include theme($GREEN600, $GREEN50);
}
