@import "../../../scss/libs.scss";
.tag {
  border-radius: 6px;
  min-width: 80px;
  padding: 4px 1em;
  font-weight: 500;
  text-align: center;
  &.button:hover {
    text-decoration: underline;
  }
}

.theme_blue {
  background-color: $WEWIN_BLUE100;
  color: $WEWIN_BLUE600;
}

.theme_gray {
  background-color: $GRAY200;
  color: $GRAY700;
}

.theme_gold {
  background-color: $WEWIN_GOLD200;
  color: $WEWIN_GOLD700;
}

.theme_mint {
  background-color: $MINT100;
  color: $MINT700;
}

.theme_black {
  background-color: $GRAY800;
  color: $GRAY200;
}

.theme_white {
  background-color: white;
  border: 1px solid $GRAY300;
  color: $GRAY600;
}

.theme_peach {
  background-color: $PEACH50;
  color: $PEACH500;
}
