@import "../../../scss/libs.scss";
.type-solid {
  border-style: solid;
}

.type-dotted {
  border-style: dotted;
}

.type-dashed {
  border-style: dashed;
}

.color-gray300 {
  color: $GRAY300;
}

.hr {
  width: 100%;
}
