@import "../../../scss/libs.scss";

@mixin linear-style() {
  border: {
    top: 1px solid transparent;
    left: 1px solid transparent;
    right: 1px solid transparent;
  }
  background-color: transparent;
}

.datebox_container {
  position: relative;
  width: fit-content;
}

.datebox {
  color: $INPUT_DEFAULT_COLOR;
  background-color: $INPUT_DEFAULT_BG_COLOR;
  border: $INPUT_DEFAULT_BORDER;
  border-radius: $INPUT_BORDER_RADIUS;
  min-height: 42px;
  font-size: 14px;
  font-weight: 500;
  transition: box-shadow 0.3s;
  display: flex;
  align-items: center;
  min-width: 18em;
  &.invalid {
    border: 1px solid $PEACH500;
  }

  &.filled {
    color: $INPUT_FILLED_COLOR;
    background-color: $INPUT_FILLED_BG_COLOR;
    border: $INPUT_FILLED_BORDER;
    > .calendar_icon_wrap {
      color: $INPUT_ICON_FILLED_COLOR;
    }
    &.linear {
      @include linear-style();
    }
    .date_text:first-child {
      border-right: 1.5px solid $BLUISH_GRAY300;
    }
  }

  &:hover:not(:disabled), &.opened {
    color: $INPUT_FOCUS_COLOR;
    background-color: $INPUT_FOCUS_BG_COLOR;
    border: $INPUT_FOCUS_BORDER;
    > .calendar_icon_wrap {
      color: $INPUT_ICON_FOCUS_COLOR;
    }
    &.linear {
      @include linear-style();
    }
    .date_text:first-child {
      border-right: 1.5px solid $WEWIN_BLUE200;
    }
  }

  &:disabled {
    cursor: not-allowed;
    border: none;
    background-color: $INPUT_DISABLED_BG_COLOR;
    color: $INPUT_DISABLED_COLOR;
    > .calendar_icon_wrap {
      color: $INPUT_ICON_DISABLED_COLOR;
      background-color: $INPUT_ICON_DISABLED_BG_COLOR;
    }

    &.system {
      background-color: $INPUT_SYSTEM_BG_COLOR;
      color: $INPUT_SYSTEM_COLOR;
      border: none;
      > .calendar_icon_wrap {
        color: $INPUT_ICON_SYSTEM_COLOR;
        background-color: $INPUT_ICON_SYSTEM_BG_COLOR;
        border-left: none;
      }
      .date_text:first-child {
        border-right: 1.5px solid $GRAY200;
      }
      &.linear {
        border: $INPUT_DEFAULT_BORDER;
        @include linear-style();
        > .calendar_icon_wrap {
          background-color: transparent;
          border-left: none;
        }
      }
    }
    .date_text:first-child {
      border-right: 1.5px solid $GRAY50;
    }
  }
  > div {
    min-height: 40px;
    height: 100%;
    display: flex;
    align-items: center;
  }
  &.with_time {
    min-width: 23em;
  }
  &.readonly {
    border: none;
    background-color: transparent;
    color: $INPUT_READONLY_COLOR;
    > .date_text {
      flex: none;
      &:first-child {
        position: relative;
        border: none;
        &::after {
          content: "~";
          position: absolute;
          right: 0;
          color: $INPUT_READONLY_COLOR;
        }
      }
    }
    > .calendar_icon_wrap {
      display: none;
    }
  }
  &.linear {
    @include linear-style();
    > .calendar_icon_wrap {
      border-left: none;
      background-color: transparent;
    }
  }
}

.type_text {
  width: 6em;
}

.date_text {
  flex: 1;
  padding: 0 0.7em;
  &:first-child {
    padding-right: 1.4em;
    border-right: 1.5px solid $BLUISH_GRAY200;
  }
}

.calendar_icon_wrap {
  min-width: 3em;
  min-height: 42px;
  height: 100%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  justify-content: center;
  border-left: $BORDER_GRAY300;
  background-color: $INPUT_ICON_DEFAULT_BG_COLOR;
  color: $INPUT_ICON_DEFAULT_COLOR;
  > svg {
    width: 1.4em;
    height: 1.4em;
  }
}

.calendar_modal {
  border-radius: 4px;
  position: absolute;
  background-color: white;
  z-index: 10;
  border: $BORDER_GRAY300;
  box-shadow: $BOX_SHADOW_INPUT_OPTIONS;
  @include fade-in;
  color: $GRAY600;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.up {
    bottom: 3.5em;
  }
  &.down {
    margin-top: 5px;
  }
  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
}

.calendar_modal_footer {
  width: 100%;
  max-height: 0;
  transition: max-height 0.3s;
  &.open {
    max-height: 6em;
  }
}

.calendar_modal_contents {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  width: 100%;
  @include fade-in(0.6s);
}

.selected_date_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  font-size: 0.8em;
  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
  }
}

.time_input {
  width: 10.5em;
  font-size: 0.7em;
  outline: none;
  border: $BORDER_GRAY300;
  border-radius: 4px;
  padding: 0 0.3em;
}

.date_reset_button {
  padding: 0.5em;
  border-radius: 100%;
  transition: color 0.3s, background-color 0.3s;
  &:hover {
    background-color: $WEWIN_BLUE300;
    color: white;
  }
  > svg {
    width: 1.4em;
    height: 1.4em;
  }
}

.reset_button_container {
  font-weight: 500;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bold {
  font-weight: 500;
  font-size: 1.5em;
}

.time_input_container {
  display: flex;
  flex-direction: row;
}

.placeholder {
  color: $PLACEHOLDER;
}