.labeled_file_download_container {
  display: flex;
  width: fit-content;
  font-size: 16px;
  font-weight: 500;
  gap: 5px;
  &.row {
    align-items: center;
  }
  &.row-reverse {
    flex-direction: row-reverse;
    align-items: center;
  }

  &.column {
    flex-direction: column;
  }
  &.column-reverse {
    flex-direction: column-reverse;
  }
}

.label_container {
  display: flex;
  align-items: center;
  gap: 0.3em;
}
