@import '../../../scss/libs.scss';

@mixin theme($text-color, $bg-color, $border, $icon-color, $icon-bg-color) {
  color: $text-color;

  &.box {
    border: $border;
    background-color: $bg-color;
    > .file_upload_button {
      background-color: $icon-bg-color;
      color: $icon-color;
    }
  }

  &.linear {
    border-bottom: $border;
  }
  > .file_upload_button {
    color: $WEWIN_BLUE600;
  }
}

.file_upload {
  min-height: 36px;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  display: flex;

  > .display_file_name {
    position: relative;
    padding: {
      top: 0;
      bottom: 0;
      left: 11px;
      right: 5px;
    }
    display: flex;
    align-items: center;
    min-width: 0;
    flex: 1 1 auto;
    > a {
      font-weight: $MEDIUM_FONT_WEIGHT;
      font-size: $SMALL_FONT_SIZE;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  > .file_upload_button {
    font-weight: $MEDIUM_FONT_WEIGHT;
    font-size: $SMALL_FONT_SIZE;
    cursor: pointer;
    padding: 0 11px;
    display: flex;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
    flex: 0 0 auto;
    &:disabled {
      cursor: not-allowed;
    }
    > input {
      display: none;
    }
  }
  @include theme(
    $INPUT_DEFAULT_COLOR,
    $INPUT_DEFAULT_BG_COLOR,
    $INPUT_DEFAULT_BORDER,
    $INPUT_ICON_DEFAULT_COLOR,
    $INPUT_ICON_DEFAULT_BG_COLOR
  );

  &.filled {
    @include theme(
      $INPUT_FILLED_COLOR,
      $INPUT_FILLED_BG_COLOR,
      $INPUT_FILLED_BORDER,
      $INPUT_ICON_FILLED_COLOR,
      $INPUT_ICON_FILLED_BG_COLOR
    );
    > .display_file_name > a:hover {
      text-decoration: underline;
    }
  }

  &.disabled {
    cursor: not-allowed;
    > .file_upload_button > a {
      text-decoration: none;
    }
    @include theme(
      $INPUT_DISABLED_COLOR,
      $INPUT_DISABLED_BG_COLOR,
      $INPUT_DISABLED_BORDER,
      $INPUT_ICON_DISABLED_COLOR,
      $INPUT_ICON_DISABLED_BG_COLOR
    );
    &.system {
      @include theme(
        $INPUT_SYSTEM_COLOR,
        $INPUT_SYSTEM_BG_COLOR,
        $INPUT_SYSTEM_BORDER,
        $INPUT_ICON_SYSTEM_COLOR,
        $INPUT_ICON_SYSTEM_BG_COLOR
      );
    }
    &.readonly {
      cursor: default;
      @include theme($INPUT_READONLY_COLOR, transparent, transparent, transparent, transparent);
    }
    &.linear {
      > .file_upload_button {
        color: $GRAY400;
      }
    }
  }

  &.box {
    border-radius: $INPUT_BORDER_RADIUS;
    overflow: hidden;
    > .file_upload_button {
      &:hover:not(:disabled) {
        color: $INPUT_ICON_FOCUS_COLOR;
        background-color: darken($INPUT_ICON_FOCUS_BG_COLOR, 1%);
      }
    }
    &.invalid {
      border: $INPUT_ALERT_BORDER;
    }
  }

  &.linear {
    &.invalid {
      border-bottom: $INPUT_ALERT_BORDER;
    }
  }
}

.delete_file_button {
  height: 12px;
  width: 12px;
  margin: 3px;
  float: top;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: $BLUISH_GRAY500;
  transition: background-color 0.2s, color 0.2s;
  &:hover {
    color: white;
    background-color: $BLUISH_GRAY500;
  }
  > svg {
    width: 12px;
    height: 12px;
  }
}
