@import "../../../scss/libs.scss";

.searchbox_wrap {
  position: relative;
  display: inline-block;
  height: fit-content;
}

.searchbox {
  color: $INPUT_DEFAULT_COLOR;
  width: 100%;
  height: 42px;
  padding: 0.3em 1em;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  z-index: 2;
  border: $INPUT_DEFAULT_BORDER;
  background-color: $INPUT_DEFAULT_BG_COLOR;
  transition: color 0.3s, background-color 0.3s, border 0.3s;
  > .input_wrap {
    flex: 1;
    > input {
      width: 100%;
      background-color: transparent;
      font-size: $SMALL_FONT_SIZE;
      font-weight: $MEDIUM_FONT_WEIGHT;
      &::placeholder {
        color: $INPUT_DEFAULT_COLOR;
      }
      outline: none;
      border: none;
    }
  }

  > svg {
    color: $INPUT_ICON_DEFAULT_COLOR;
    width: 20px;
    height: 20px;
    margin-left: 0.8em;
  }

  &.filled {
    border: $INPUT_FILLED_BORDER;
    background-color: $INPUT_FILLED_BG_COLOR;
    > .input_wrap > input {
      color: $INPUT_FILLED_COLOR;
    }
    > svg {
      color: $INPUT_ICON_FILLED_COLOR;
    }
  }

  &:hover,
  &.searching {
    background-color: $INPUT_FOCUS_BG_COLOR;
    border: $INPUT_FOCUS_BORDER;
    > .input_wrap > input {
      color: $INPUT_FOCUS_COLOR;
    }
    > svg {
      color: $INPUT_ICON_FOCUS_COLOR;
    }
  }

  &.disabled {
    border: $INPUT_DISABLED_BORDER;
    background-color: $INPUT_DISABLED_BG_COLOR;
    > input {
      color: $INPUT_DISABLED_COLOR;
    }
    &.system {
      border-bottom: $INPUT_SYSTEM_BORDER;
      background-color: $INPUT_SYSTEM_BG_COLOR;
      &.linear {
        background-color: transparent;
      }
      > .input_wrap > input {
        color: $INPUT_SYSTEM_COLOR;
      }
    }
    &.readonly {
      border: none;
      background-color: transparent;
      > .input_wrap > input {
        color: $INPUT_READONLY_COLOR;
      }
      > svg {
        display: none;
      }
    }
    cursor: not-allowed;
    > .input_wrap > input {
      cursor: not-allowed;
    }
    > svg {
      color: $INPUT_ICON_DISABLED_COLOR;
    }
  }
  &.invalid {
    border: 1px solid $PEACH500;
  }

  &.linear {
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
  }
  &.box {
    border-radius: $INPUT_BORDER_RADIUS;
  }
}

.options {
  z-index: 3;
  position: absolute;
  background-color: $BLUISH_GRAY50;
  border-top: none;
  border-radius: 6px;
  max-height: 500px;
  min-width: 100%;
  overflow-y: auto;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.9);
  @include fade-in;
  &.up {
    bottom: 3em;
    margin-bottom: 5px;
  }
  &.down {
    margin-top: 5px;
  }
  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
  &.hidden {
    display: none;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.item_button {
  height: 2.5em;
  display: flex;
  align-items: center;
  padding-right: 1em;
  transition: background-color 0.2s, color 0.2s;
  width: 100%;
  > .check {
    transition: color 0.2s;
    margin: {
      top: 0.3em;
      right: 0.2em;
      left: 1em;
    }
    height: 1.2em;
    color: #dfe3ec;
  }
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover {
    > .check {
      color: $BLUISH_GRAY600;
    }
    color: $WEWIN_BLUE600;
    background-color: $WEWIN_BLUE100;
  }
}

.empty_space {
  position: sticky;
  width: 100%;
  height: 10px;
  &.top {
    background: linear-gradient(to bottom, $BLUISH_GRAY50, transparent);
    top: 0;
  }
  &.bottom {
    background: linear-gradient(to top, $BLUISH_GRAY50, transparent);
    bottom: 0;
  }
}
