@import '../../../scss/libs.scss';

@mixin set-theme($variant, $color, $backgroundColor: transparent) {
  color: $color;

  @if ($variant == 'contain') {
    background-color: $backgroundColor;
    &:hover {
      color: darken($color, 7%);
      background-color: darken($backgroundColor, 7%);
    }
    &:active {
      color: darken($color, 14%);
      background-color: darken($backgroundColor, 14%);
    }
    &:disabled {
      color: #c2c2c2;
      background-color: $GRAY50;
    }
  }

  @if ($variant == 'outline') {
    border: 1px solid $BLUISH_GRAY200;
    background-color: white;
    &:hover {
      color: darken($color, 7%);
      border: 1px solid darken($BLUISH_GRAY200, 7%);
    }
    &:active {
      color: darken($color, 14%);
      border: 1px solid darken($BLUISH_GRAY200, 14%);
    }
    &:disabled {
      color: $GRAY500;
      background: white;
      border: 1px solid $GRAY400;
    }
  }

  @if ($variant == 'ghost') {
    background-color: transparent;
    &:hover:not(:disabled) {
      color: darken($color, 7%);
      background-color: rgba($backgroundColor, 0.07);
      &.include_text {
        text-decoration: underline;
        background: none;
      }
    }
    &:active:not(:disabled) {
      color: darken($color, 14%);
      background-color: rgba($backgroundColor, 0.14);
      &.include_text {
        text-decoration: underline;
        background: none;
      }
    }
    &:disabled {
      color: $GRAY500;
      text-decoration: unset;
    }
  }
}

.button {
  text-align: center;
  line-height: 1.5em;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  border: 1px solid transparent;
  display: inline-block;
  svg {
    width: 1.5em;
    height: 100%;
  }
  &.fit_container {
    width: 100%;
  }

  &:disabled {
    cursor: not-allowed;
    &.delay_button {
      color: white;
      position: relative;
      overflow: hidden;
      background-color: $BLUISH_GRAY500;
      border: 1px solid $BLUISH_GRAY300;
      > .delay_button_contents {
        z-index: 1;
        position: relative;
      }
    }
  }
}

.button_contents {
  display: flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 8px;
  > div {
    &:first-child {
      display: flex;
      white-space: nowrap;
      justify-content: center;
      align-items: center;
      height: 1.5em;
    }
    &:last-child {
      margin: 0;
      display: flex;
      align-items: center;
    }
  }
}

.delaying_bar {
  width: 100%;
  height: 100%;
  background-color: $BLUISH_GRAY300;
  bottom: 0;
  left: 0;
  position: absolute;
  &.delaying {
    transform: translateX(100%);
  }
}

// size
.size_small {
  padding: 3px 7px;
  &.include_icon {
    padding: 3px;
    &.include_text {
      padding-right: 6px;
    }
  }
}

.size_medium {
  padding: 6px 12px;
  &.include_icon {
    padding: 6px;
    &.include_text {
      padding-right: 8px;
    }
  }
}

.size_large {
  padding: 10px 16px;
  &.include_icon {
    padding: 10px;
  }
}

@function getVariantFromIndex($index) {
  @if ($index == 1) {
    @return 'contain';
  }
  @if ($index == 2) {
    @return 'outline';
  }
  @if ($index == 3) {
    @return 'ghost';
  }
}

@for $idx from 1 through 3 {
  $variant: getVariantFromIndex($idx);

  .theme_#{$variant}-wewin-blue100 {
    @if ($variant == 'contain') {
      @include set-theme('contain', $WEWIN_BLUE600, $WEWIN_BLUE100);
    } @else {
      @include set-theme($variant, $WEWIN_BLUE100);
    }
  }

  .theme_#{$variant}-wewin-blue600 {
    @if ($variant == 'contain') {
      @include set-theme('contain', $WEWIN_BLUE100, $WEWIN_BLUE600);
    } @else {
      @include set-theme($variant, $WEWIN_BLUE600);
    }
  }

  .theme_#{$variant}-bluish-gray50 {
    @if ($variant == 'contain') {
      @include set-theme('contain', $BLUISH_GRAY700, $BLUISH_GRAY50);
    } @else {
      @include set-theme($variant, $BLUISH_GRAY50);
    }
  }

  .theme_#{$variant}-bluish-gray100 {
    @if ($variant == 'contain') {
      @include set-theme('contain', $BLUISH_GRAY700, $BLUISH_GRAY100);
    } @else {
      @include set-theme($variant, $BLUISH_GRAY100);
    }
  }

  .theme_#{$variant}-bluish-gray200 {
    @if ($variant == 'contain') {
      @include set-theme('contain', $BLUISH_GRAY700, $BLUISH_GRAY200);
    } @else {
      @include set-theme($variant, $BLUISH_GRAY200);
    }
  }

  .theme_#{$variant}-bluish-gray500 {
    @if ($variant == 'contain') {
      @include set-theme('contain', white, $BLUISH_GRAY500);
    } @else {
      @include set-theme($variant, $BLUISH_GRAY500);
    }
  }

  .theme_#{$variant}-bluish-gray600 {
    @if ($variant == 'contain') {
      @include set-theme('contain', white, $BLUISH_GRAY600);
    } @else {
      @include set-theme($variant, $BLUISH_GRAY600);
    }
  }

  .theme_#{$variant}-bluish-gray700 {
    @if ($variant == 'contain') {
      @include set-theme('contain', white, $BLUISH_GRAY700);
    } @else {
      @include set-theme($variant, $BLUISH_GRAY700);
    }
  }

  .theme_#{$variant}-wewin-peach500 {
    @if ($variant == 'contain') {
      @include set-theme('contain', white, $WEWIN_PEACH500);
    } @else {
      @include set-theme($variant, $WEWIN_PEACH500);
    }
  }
}

//shape
.shape_round {
  border-radius: 90px;
}

.shape_square {
  border-radius: 8px;
}

//fontSize
.font_size_smallX {
  font-size: $SMALLX_FONT_SIZE;
}

.font_size_small {
  font-size: $SMALL_FONT_SIZE;
}

.font_size_normal {
  font-size: $NORMAL_FONT_SIZE;
}

.font_size_large {
  font-size: $LARGE_FONT_SIZE;
}

.font_size_large2X {
  font-size: $LARGE2X_FONT_SIZE;
}

.font_size_large4X {
  font-size: $LARGE4X_FONT_SIZE;
}

//fontWeight
.font_weight_reqular {
  font-weight: 400;
}

.font_weight_medium {
  font-weight: 500;
}

.font_weight_bold {
  font-weight: 700;
}
