@import "../../../scss/libs.scss";

.track {
  width: 100%;
  position: relative;
  display: flex;
  height: 12px;
  background-color: $BLUISH_GRAY50;
  border-right: 1px solid $BLUISH_GRAY300;

  .indicator {
    &:not(:last-child) {
      border-right: 1px solid $BLUISH_GRAY300;
    }

    &.green600 {
      background-color: $GREEN600;
    }
    &.peach400 {
      background-color: $PEACH400;
    }
    &.wewin-orange500 {
      background-color: $WEWIN_ORANGE500;
    }
    &.wewin-blue300 {
      background-color: $WEWIN_BLUE300;
    }
  }
}
