@import '../../../scss/libs.scss';

@mixin linear-border($width: 1px, $style: solid, $color: $BLUISH_GRAY200) {
  border: {
    top: 1px solid transparent;
    left: 1px solid transparent;
    right: 1px solid transparent;
    bottom: $width $style $color;
  }
  background: transparent;
}

.textarea {
  color: $INPUT_DEFAULT_COLOR;
  background-color: $INPUT_DEFAULT_BG_COLOR;
  border: $INPUT_DEFAULT_BORDER;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  transition: color 0.3s, background-color 0.3s, border 0.3s;
  display: flex;
  align-items: center;
  padding: 7.5px 11px;
  outline: none;
  min-height: 58px;
  &::placeholder {
    color: $INPUT_DEFAULT_COLOR;
  }

  &.linear {
    @include linear-border();
    background: transparent;
  }

  &.invalid {
    border: 1px solid $PEACH500;
    &.linear {
      @include linear-border(1px, solid, PEACH600);
    }
  }

  &.filled {
    background: $INPUT_FILLED_BG_COLOR;
    color: $INPUT_FILLED_COLOR;
    border: $INPUT_FILLED_BORDER;
    &.linear {
      @include linear-border();
    }
  }

  &:hover,
  &:focus-within {
    color: $INPUT_FOCUS_COLOR;
    background-color: $INPUT_FOCUS_BG_COLOR;
    border: $INPUT_FOCUS_BORDER;
    &.linear {
      @include linear-border();
    }
  }

  &:disabled {
    cursor: not-allowed;
    border: $INPUT_DISABLED_BORDER;
    background-color: $INPUT_DISABLED_BG_COLOR;
    color: $INPUT_DISABLED_COLOR;
    &::placeholder {
      color: $INPUT_DISABLED_COLOR;
    }

    &.readonly {
      border: 1px solid transparent;
      background-color: transparent;
      color: $INPUT_READONLY_COLOR;
      resize: none;
      &::placeholder {
        color: $INPUT_READONLY_COLOR;
      }
    }
  }
}

.type_text {
  width: 6em;
}
