@import "../../../scss/libs.scss";
$TEXTAREA_DISABLED_BORDER: 1px solid $GRAY10;
$TEXTAREA_DISABLED_BG_COLOR: $GRAY10;

@mixin linear-border($width: 1px, $style: solid, $color: $BLUISH_GRAY200) {
  border: {
    top: 1px solid transparent;
    left: 1px solid transparent;
    right: 1px solid transparent;
    bottom: $width $style $color;
  }
  background: transparent;
}

.textarea {
  color: $BLUISH_GRAY500;
  background-color: $WHITISH_GRAY;
  border: 1px solid $BLUISH_GRAY200;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  transition: color 0.3s, background-color 0.3s, border 0.3s;
  display: flex;
  align-items: center;
  padding: 0.5714285em;
  gap: 0.5em;
  outline: none;
  min-height: 6.6428575em;

  &.linear {
    @include linear-border();
    background: transparent;
  }

  &.invalid {
    border: 1px solid $PEACH500;
    &.linear {
      @include linear-border(1px, solid, PEACH600);
    }
  }

  &.filled {
    background: $INPUT_FILLED_BG_COLOR;
    color: $INPUT_FILLED_COLOR;
    border: 1px solid $BLUISH_GRAY300;
    &.linear {
      @include linear-border();
    }
  }

  &:hover,
  &:focus-within {
    color: $INPUT_FOCUS_COLOR;
    background-color: $INPUT_FOCUS_BG_COLOR;
    border: $INPUT_FOCUS_BORDER;
    &.linear {
      @include linear-border();
    }
  }

  &:disabled {
    cursor: not-allowed;
    border: $TEXTAREA_DISABLED_BORDER;
    background-color: $TEXTAREA_DISABLED_BG_COLOR;
    color: $INPUT_DISABLED_COLOR;
    &.readonly {
      border: 1px solid transparent;
      background-color: transparent;
      color: $INPUT_READONLY_COLOR;
      resize: none;
      &::placeholder {
        color: $INPUT_READONLY_COLOR;
      }
    }
    &::placeholder {
      color: $GRAY500;
    }
  }
}

.type_text {
  width: 6em;
}
